@model BARG.ViewModels.AssessmentsViewModel
@{
    ViewBag.Title = "NewAssessment";


}



<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Assessments"))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)


    <legend>Sample submission</legend>
    <table id="regionTable" class="table table-striped">
        <thead>
            <tr>
                <td>Region</td>
                <td>Share</td>
                <td></td>
                <td></td>
                <td></td>
                <td> <button id="add" type="button" class="btn btn-link">Add</button></td>
            </tr>
        </thead>
        <tr id="tablerow">
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.RegionLookUp, "Id", "Name"), "Select Region", new { @class = "form-control Region", id = "Region", name = "Region" })
                </div>
            </td>
            <td>
                <div>
                    -
                </div>
            </td>

            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-link" onclick="removeTr(0);">remove</button>
            </td>
        </tr>
    </table>
    <hr />

    <p>
        <button data-assess-id="@User.Identity" type="submit" calss="btn btn-default js-save">Save</button>
    </p>

}
@Scripts.Render("~/bundles/bootstrap.js")
@Scripts.Render("~/bundles/jquery.js")

@section Scripts {
    <script>

        $(document).ready(function () {
            $(".js-save").click(function (e) {
                var button = $(e.taget);
                $.post("/home/assessments", { "": button.attr("data-assess-id") })

                    .fail(function () {
                        alert("Something went wrong");
                    });
            });
        });

        //$(document).ready(function () {
        //    $(".js-save").click(function () {

        //        var reg = new Array();
        //        $("#regionTable TBODY TR").each(function () {
        //            //var row = $(this);
        //            var region = [];
        //            region.region = row.find("TD").eq(0).html();
        //            reg.push(region);
        //        });
        //        $.ajax({
        //            type: "POST",
        //            url: "/controllers/assessments",
        //            data: JSON.stringify(reg),
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            success: function (r) {
        //                alert(r + " record(s) inserted.");
        //            }

        //        });
        //    });
        //});



        var counter = 1;
        $(function () {
            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '">'
                    + '<td>'
                    + '<select name ="Region" class="form-control Region" name="Region[' + counter + ']" >'
                    + $("#Region").html()
                    + '</select>'
                    + '</td>'
                    + '<td>'
                    + '</td>'
                    + '<td>'
                    + '</td>'
                    + '<td>'
                    + '</td>'
                    + '<td>'
                    + '</td>'
                    + '<td>'
                    + '<button type="button" class="btn btn-link" onclick="removeTr(' + counter + ');">remove</button>'
                    + '</td>'
                    + '</tr>').appendTo('#regionTable');
                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        }

        $('.countrypicker').selectpicker();


    </script>
}